{% extends "base/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Casa de los Patriots and Ravens {% endblock title %}</title>
    <link rel="stylesheet" href="css.css">

    
</head>

<body>
    
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        
        
    {% endblock content %}
</body>
</html>