{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<style>
  body{
    background-image: url('https://png.pngtree.com/background/20211217/original/pngtree-geometric-pattern-white-gold-minimalist-creative-background-picture-image_1575961.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-transparent"> 
    <a class="navbar-brand" href="{% url 'home:index' %}">RAY NFL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:propietarios' %}">Propietarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:estadios' %}">Estadios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:equipos' %}">Equipos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:jugadores' %}">Jugadores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:jugadoresequipo' %}">Jugadores por equipos</a>
          </li>
           
        </ul>
    </div>
</nav>
      {% block content %}
      {% endblock content %}
      <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</body>
</html>