{% extends "base/base.html" %}

{% block title %}
Agregar jugador de futbol
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h2>Agregar un jugador de fútbol</h2>
          <form action="" method="post" class="form">
              {% csrf_token %}
              <div class="mb-3">
                  {{ form.equipo.label_tag }}                  
                  {{ form.equipo }}
              </div>
              <div class="mb-3">
                  {{ form.nombre.label_tag }}
                  {{ form.nombre }}
              </div>
              <div class="mb-3">
                  {{ form.numero.label_tag }}
                  {{ form.numero }}
              </div>
              <div class="mb-3">
                {{ form.posicion.label_tag }}
                {{ form.posicion }}
            </div>
              <button type="submit" class="btn btn-success">Aceptar</button>
              <a href="{% url 'core:equipos' %}" class="btn btn-warning">Cancelar</a>
          </form>
      </div>
  </div>
</div>

{% endblock content %}