{% extends "base/base.html" %}

{% block title %}
Agregar un equipo de futbol
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h2>Agregar un equipo de fútbol</h2>
          <form action="" method="post" class="form">
              {% csrf_token %}
              <div class="mb-3">
                  {{ form.sede.label_tag }}                  
                  {{ form.sede }}
              </div>
              <div class="mb-3">
                  {{ form.nombre.label_tag }}
                  {{ form.nombre }}
              </div>
              <div class="mb-3">
                  {{ form.propietario.label_tag }}
                  {{ form.propietario }}
              </div>
              <button type="submit" class="btn btn-success">Aceptar</button>
              <a href="{% url 'core:equipos' %}" class="btn btn-warning">Cancelar</a>
          </form>
      </div>
  </div>
</div>


{% endblock content %}
