{% extends "base/base.html" %}

{% block title %}
Agregar un estadio de futbol
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <h2>Agregar un estadio de fútbol</h2>
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.nombre.label_tag }}                  
                        {{ form.nombre }}
                    </div>
                    <div class="mb-3">
                        {{ form.capacidad.label_tag }}
                        {{ form.capacidad }}
                    </div>
                    <div class="mb-3">
                        {{ form.tamano.label_tag }}
                        {{ form.tamano }}
                    </div>
                    <button type="submit" class="btn btn-success">Aceptar</button>
                    <a href="{% url 'core:estadios' %}" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
