{% extends "base/base.html" %}

{% block title %}
Agregar propietario
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-5 offset-md-3">
          <h2>Agregar un propietario de la NFL</h2>
          <form action="" method="post" class="form">
              {% csrf_token %}
              <div class="mb-3">
                  {{ form.nombre.label_tag }}                  
                  {{ form.nombre }}
              </div>
              <button type="submit" class="btn btn-success">Aceptar</button>
              <a href="{% url 'core:estadios' %}" class="btn btn-warning">Cancelar</a>
          </form>
      </div>
  </div>
</div>

{% endblock content %}