{% extends "base/base.html" %}

{% block title %}
  Eliminar jugador de futbol
{% endblock title %}

{% block content %}

<h1>Eliminar jugador</h1>
<p>¿Desea eliminar al jugador de futbol?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Aceptar</button>

  <a href="{% url 'core:jugadores' %}" class="btn btn-outline-warning">Cancelar</a>
</form>


{% endblock content %}