{% extends "base/base.html" %}

{% block title %}
  Eliminar estadio de futbol
{% endblock title %}

{% block content %}

<br>
<p>¿Desea eliminar el estadio de futbol?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Aceptar</button>
  <a href="{% url 'core:estadios' %}" class="btn btn-outline-warning">Cancelar</a>
</form>

{% endblock content %}
