{% extends "base/base.html" %}

{% block title %}
  Eliminar equipo de futbol
{% endblock title %}

{% block content %}

<p>¿Desea eliminar el equipo de futbol?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Aceptar</button>
  <a href="{% url 'core:equipos' %}" class="btn btn-outline-warning">Cancelar</a>
</form>

{% endblock content %}
