{% extends "base/base.html" %}

{% block title %}
  Eliminar propietario NFL
{% endblock title %}

{% block content %}

<h1>Eliminar jugador</h1>
<p>¿Desea eliminar al propietario NFL?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Aceptar</button>

  <a href="{% url 'core:propietarios' %}" class="btn btn-outline-warning">Cancelar</a>
</form>


{% endblock content %}