{% extends "base/base.html" %}

{% block title %}
  Detalles del jugador
{% endblock title %}


{% block content %}
<h1>Detalles del jugador</h1>
  <p>Jugador: {{ jugador.nombre }}</p>
  <a href="{% url 'core:jugadores' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}