{% extends "base/base.html" %}

{% block title %}
  Detalles de los estadios de futbol
{% endblock title %}


{% block content %}

<h1>Detalles del estadio</h1>
  <p>Propietario: {{ estadio.propietario.nombre }}</p>
  <p>Estadio: {{ estadio.nombre }}</p>
  <a href="{% url 'core:estadios' %}" class="btn btn-outline-warning">Regresar</a>
  
{% endblock content %}
