{% extends "base/base.html" %}

{% block title %}
  Detalles del equipo de futbol
{% endblock title %}


{% block content %}

<h1>Detalles del equipo</h1>
  <p>Equipo: {{ equipo.nombre }}</p>
  <a href="{% url 'core:equipos' %}" class="btn btn-outline-warning">Regresar</a>
  
  
{% endblock content %}
