{% extends 'base/base.html' %}

{% block title %} Lista de equipos en la NFL {% endblock title %}

{% block content %}


    <a href="{% url 'core:create2' %}" class="btn btn-outline-success form-control">Crear un nuevo equipo</a>
    <h1>Lista de equipos</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nombre del equipo</th>
      
      <th>Acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for equipos in equipos %}
      <tr>
        <td>{{ equipos.nombre }}</td>
        <td>
          <a href="{% url 'core:detail2' equipos.id %}" class="btn btn-outline-info">Detalles</a>
          <a href="{% url 'core:Update2' equipos.id %}" class="btn btn-outline-warning">Actualizar</a>
          <a href="{% url 'core:delete2' equipos.id %}" class="btn btn-outline-danger">Eliminar</a>
      </td>
      
      </tr>
    {% endfor %}
  </tbody>
</table>

    
{% endblock content %}

