{% extends 'base/base.html' %}

{% block title %} Lista de estadios en la NFL{% endblock title %}

{% block content %}


    <a href="{% url 'core:create1' %}" class="btn btn-outline-success form-control">Agregar un nuevo estadio</a>
    <h1>Lista de estadios</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Nombre del estadio</th>
            <th>Capacidad del estadio</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for estadios in estadios %}
                <tr>
                    <td>{{ estadios.nombre }}</td>
                    <td>{{ estadios.capacidad }}</td>
                    <td><a href="{% url 'core:detail1' estadios.id %}" class="btn btn-outline-info">Propietario</a></td>
                    <td><a href="{% url 'core:Update1' estadios.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td><a href="{% url 'core:delete1' estadios.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
   
{% endblock content %}


