{% extends 'base/base.html' %}

{% block title %} Lista de jugadores {% endblock title %}

{% block content %}


    <a href="{% url 'core:create3' %}" class="btn btn-outline-success form-control">Añadir nueva jugador</a>
    <h1>Lista de jugadores</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Jugador</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for jugador in jugador %}
                <tr>
                    <td>{{ jugador.nombre }}</td>
                    <td><a href="{% url 'core:detail3' jugador.numero %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:Update3' jugador.numero %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{%  url 'core:delete3' jugador.numero %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
