{% extends 'base/base.html' %}

{% block title %} Lista de jugadores y equipos {% endblock title %}

{% block content %}

    <h1>Lista de jugadores por equipos</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Jugador</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for equipos in equipos %}
                <tr>
                    <td>{{ equipos.nombre }}</td>
                    <td><a href="{% url 'core:jugadores7' equipos.pk %}" class="btn btn-outline-info"> Jugador y numero </a></td>
                    <td><a href="{% url 'core:jugadores8' equipos.pk %}" class="btn btn-outline-info"> Jugador,numero y posicion </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
