{% extends 'base/base.html' %}

{% block title %} Lista de jugadores por equipo. {% endblock title %}

{% block content %}

<h1>Jugadores del Equipo (ID: {{ equipo_id }}) - Nombre, Número y Posición</h1>
    <ul>
        {% for jugador in jugadores %}
            <li>{{ jugador.nombre }} - {{ jugador.numero }} - {{ jugador.posicion }}</li>
        {% endfor %}
    </ul>

{% endblock content %}