{% extends 'base/base.html' %}

{% block title %} Lista de propietarios {% endblock title %}

{% block content %}


    <a href="{% url 'core:create4' %}" class="btn btn-outline-success form-control">Añadir nuevo propietario</a>
    <h1>Lista de propietarios</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Propietarios</th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for propietario in propietario %}
                <tr>
                    <td>{{ propietario.nombre }}</td>
                    <td><a href="{%  url 'core:update4' propietario.id %}" class="btn btn-outline-danger">Actualizar</a></td>
                    <td><a href="{%  url 'core:delete4' propietario.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
