{% extends "base/base.html" %}

{% block title %}
  Actualizar datos de un jugador
{% endblock title %}

{% block content %}
<h1>Actualizar datos del jugador</h1>
<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-outline-primary">Aceptar</button>
  <a href="{% url 'core:jugadores' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}